.text-center .col:hover {
  transform: scale(1.2);
  transition-property: all;
  transition-duration: 1s; }

.fondoDos {
  font-family: sans-serif;
  font-size: 15px;
  background-color: #E6CCB2; }

.fondo {
  background-color: #EDE0D4; }

.carro {
  margin: 0 auto; }
